# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Bin files
/bin/*

# Development databases
*.sqlite3

# Development configuration file
/progress.json

# Allow test scripts
!/bin/test_*
